@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite';

@keyframes colorChange {
    0%, 100% {
        color: #06D001;
    }
    50% {
        color: #000;
    }
}

.color-change{
    animation: colorChange 2s ease-in-out infinite;
}